<!DOCTYPE html>
<html lang="en">
    <head>
        <met#aeb3b8et="utf-8">
        <title>Portfolio - Shurenkov Ivan</title>
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta content="Free Website Template" name="keywords">
        <meta content="Free Website Template" name="description">
	<meta name="yandex-verification" content="2759e36b7aae8742" />

        <!-- Favicon -->
	<!--        <link href="{{ url_for('static', filename = 'img/favicon.ico') }}" rel="icon">-->

        <!-- Google Web Fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@300;400;500;600;700&display=swap" rel="stylesheet">

        <!-- Icon Font Stylesheet -->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

        <!-- Libraries Stylesheet -->
        <link href="{{ url_for('static', filename = 'lib/owlcarousel/assets/owl.carousel.min.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename = 'lib/lightbox/css/lightbox.min.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename = 'lib/animate/animate.min.css') }}" rel="stylesheet">

        <!-- Customized Bootstrap Stylesheet -->
        <link href="{{ url_for('static', filename = 'css/bootstrap.min.css') }}" rel="stylesheet">

        <!-- Template Stylesheet -->
        <link href="{{ url_for('static', filename = 'css/style.css') }}" rel="stylesheet">
    </head>

    <body>
	<!-- Yandex.Metrika counter -->
	<script type="text/javascript" >
	   (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
	   m[i].l=1*new Date();
	   for (var j = 0; j < document.scripts.length; j++) {if (document.scripts[j].src === r) { return; }}
	   k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
	   (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");
	
	   ym(91770317, "init", {
	        clickmap:true,
        	trackLinks:true,
	        accurateTrackBounce:true,
        	webvisor:true
	   });
	</script>
	<noscript><div><img src="https://mc.yandex.ru/watch/91770317" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
	<!-- /Yandex.Metrika counter -->


	<!-- Spinner Start -->
        <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
            <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        <!-- Spinner End -->

        <div class="container">
            <div class="row g-5">
                <div class="col-lg-4 sticky-lg-top vh-100">
                    <div class="d-flex flex-column h-100 text-center overflow-auto shadow">
                        <img class="w-100 img-fluid mb-4" src="{{ url_for('static', filename = 'img/avatar.jpg') }}" alt="Image">
                        <h1 class="text-primary mt-2">Ivan Shurenkov</h1>
                        <div class="mb-4" style="height: 22px;">
                            <h4 class="typed-text-output d-inline-block text-light"></h4>
                            <div class="typed-text d-none">SpBU Student</div>
                        </div>
                        <div class="d-flex justify-content-center mt-auto mb-3">
                            <a class="btn btn-secondary btn-square mx-1" href="https://github.com/ioannessh"><i class="fab fa-github"></i></a>
                            <a class="btn btn-secondary btn-square mx-1" href="https://t.me/ioannessh"><i class="fab fa-telegram"></i></a>
                            <a class="btn btn-secondary btn-square mx-1" href="mailto:ivan.shurenkov@gmail.com"><i class="fa fa-envelope"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8">
                    <!-- About Start -->
                    <section class="py-5 border-bottom wow fadeInUp" data-wow-delay="0.1s">
                        <h1 class="title pb-3 mb-5">About Me</h1>
                        <p>My name is Ivan Shurenkov. I was born in the Yekaterinburg. Right now, I live in St. Petersburg, Peterhof, I am studying at the Faculty of Mechanics and Mathematics of St. Petersburg State University, Software Engineering. In my free time I watch a films and play in computer games.</p>
                        <div class="row mb-4">
                            <div class="col-sm-6 py-1">
                                <span class="fw-medium text-primary">Name:</span> Ivan Shurenkov
                            </div>
                            <div class="col-sm-6 py-1">
                                <span class="fw-medium text-primary">Birthday:</span> 18 April 2003
                            </div>
                            <div class="col-sm-6 py-1">
                                <span class="fw-medium text-primary">Email:</span> ivan.shurenkov@yandex.ru
                            </div>
                        </div>
                    </section>
                    <!-- About End -->

                    <!-- Skills Start -->
                    <section class="py-5 border-bottom wow fadeInUp" data-wow-delay="0.1s">
                        <h1 class="title pb-3 mb-5">Skills</h1>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="skill mb-4">
                                    <div class="d-flex justify-content-between">
                                        <p class="mb-2">Python</p>
                                        <p class="mb-2">60%</p>
                                    </div>
                                    <div class="progress">
                                        <div class="progress-bar bg-primary" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>
                                <div class="skill mb-4">
                                    <div class="d-flex justify-content-between">
                                        <p class="mb-2">C++</p>
                                        <p class="mb-2">40%</p>
                                    </div>
                                    <div class="progress">
                                        <div class="progress-bar bg-warning" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>
                                <div class="skill mb-4">
                                    <div class="d-flex justify-content-between">
                                        <p class="mb-2">C</p>
                                        <p class="mb-2">45%</p>
                                    </div>
                                    <div class="progress">
                                        <div class="progress-bar bg-danger" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <!-- Skills End -->

                    <!-- Expericence Start -->
                    <section class="py-5 wow fadeInUp" data-wow-delay="0.1s">
                        <h1 class="title pb-3 mb-5">Expericence</h1>
                        <div class="border-start border-2 border-light pt-2 ps-5">
                            <div class="position-relative mb-4">
                                <span class="bi bi-arrow-right fs-4 text-light position-absolute" style="top: -5px; left: -50px;"></span>
                                <h5 class="mb-1">Sports Programming</h5>
                                <p class="mb-2"><small>2017 - 2021</small></p>
                            </div>
                            <div class="position-relative mb-4">
                                <span class="bi bi-arrow-right fs-4 text-light position-absolute" style="top: -5px; left: -50px;"></span>
                                <h5 class="mb-1">Python Programming</h5>
                                <p class="mb-2"><small>2018 - 2020</small></p>
                                <p></p>
                            </div>
                            <div class="position-relative mb-4">
                                <span class="bi bi-arrow-right fs-4 text-light position-absolute" style="top: -5px; left: -50px;"></span>
                                <h5 class="mb-1">C Programming</h5>
                                <p class="mb-2"><small>2019 - 2022</small></p>
                                <p></p>
                            </div>
                        </div>
                    </section>
                    <!-- Expericence End -->

                    <!-- Portfolio Start -->
                    <section class="py-5 border-bottom wow fadeInUp" data-wow-delay="0.1s">
                        <h1 class="title pb-3 mb-5">Portfolio</h1>
                        <div class="row">
                            <div class="col-12">
                                <div>
                                    <a href="https://github.com/Dmitry909/images-editor" data-lightbox="portfolio">Image Editor on Python</a>
                                </div>
                                <div>
                                    <a href="https://github.com/ioannessh/PyGameProject" data-lightbox="portfolio">Some Game on Python</a>
                                </div>
                                <div>
                                    <a href="https://github.com/ioannessh/os226-2022" data-lightbox="portfolio">Simple OS on C</a>
                                </div>
                            </div>
                        </div>
                    </section>
                    <!-- Portfolio End -->

                    <!-- Testimonial Start -->
                    <section class="py-5 border-bottom wow fadeInUp" data-wow-delay="0.1s">
                        <h1 class="title pb-3 mb-5">Testimonial</h1>
                        <div class="owl-carousel testimonial-carousel">

                            {% for post in posts %}

                            <div class="text-left">
                                <i class="fa fa-3x fa-quote-left text-primary mb-4"></i>
                                <p class="fs-4 mb-4">{{ post.text }}</p>
                                <div class="d-flex align-items-center">
                                    <img class="img-fluid" src="{{ url_for('static', filename = 'img/anon.jpg') }}" style="width: 60px; height: 60px;">
                                    <div class="ps-3">
                                        <p class="text-primary fs-5 mb-1">{{ post.name }}</p>
                                        <i>Profession</i>
                                    </div>
                                </div>
                            </div>

                            {% endfor %}

                        </div>
                    </section>
                    <!-- Testimonial End -->

                    <!-- Contact Start -->
                    <section class="py-5 wow fadeInUp" data-wow-delay="0.1s" id="contact">
                        <h1 class="title pb-3 mb-5">Comment</h1>
                        <form action="{{ url_for('index') }}" method="POST">
                            <div class="row g-3">
                                <div class="col-md-6">
                                    <div class="form-floating">
                                        <input type="text" class="form-control border-0 bg-secondary" name="name" id="name" placeholder="Your Name">
                                        <label for="name">Your Name</label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-floating">
                                        <input type="email" class="form-control border-0 bg-secondary" name="email" id="email" placeholder="Your Email">
                                        <label for="email">Your Email</label>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-floating">
                                        <textarea class="form-control border-0 bg-secondary" placeholder="Leave a message here" name="text" id="text" style="height: 200px"></textarea>
                                        <label for="text">Comment</label>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <button class="btn btn-primary w-100 py-3" type="submit">Comment</button>
                                </div>
                            </div>
                        </form>
                    </section>
                    <!-- Contact End -->

                    <!-- Footer Start -->
                    <section class="wow fadeIn" data-wow-delay="0.1s">
                        <div class="bg-secondary text-light text-center p-5">
                            <div class="d-flex justify-content-center mb-4">
                                <a class="btn btn-secondary btn-square mx-1" href="https://github.com/ioannessh"><i class="fab fa-github"></i></a>
                                <a class="btn btn-secondary btn-square mx-1" href="https://t.me/ioannessh"><i class="fab fa-telegram"></i></a>
                                <a class="btn btn-secondary btn-square mx-1" href="mailto:ivan.shurenkov@gmail.com"><i class="fa fa-envelope"></i></a>
                            </div>
                            <div class="d-flex justify-content-center mb-3">
                                <a class="text-light px-3 border-end" href="#">Privacy</a>
                                <a class="text-light px-3 border-end" href="#">Terms</a>
                                <a class="text-light px-3 border-end" href="#">FAQs</a>
                                <a class="text-light px-3" href="#">Help</a>
                            </div>
							
                            <!--/*** This template is free as long as you keep the footer author’s credit link/attribution link/backlink. If you'd like to use the template without the footer author’s credit link/attribution link/backlink, you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". Thank you for your support. ***/-->
							<p class="m-0">&copy; All Rights Reserved. Designed by <a href="https://htmlcodex.com">HTML Codex</a></p>
                        </div>
                    </section>
                    <!-- Footer End -->
                </div>
            </div>
        </div>

        
        <!-- Back to Top -->
        <a href="#" class="back-to-top"><i class="fa fa-angle-double-up"></i></a>
        
        <!-- JavaScript Libraries -->
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
        <script src="{{ url_for('static', filename = 'lib/wow/wow.min.js') }}"></script>
        <script src="{{ url_for('static', filename = 'lib/typed/typed.min.js') }}"></script>
        <script src="{{ url_for('static', filename = 'lib/easing/easing.min.js') }}"></script>
        <script src="{{ url_for('static', filename = 'lib/waypoints/waypoints.min.js') }}"></script>
        <script src="{{ url_for('static', filename = 'lib/counterup/counterup.min.js') }}"></script>
        <script src="{{ url_for('static', filename = 'lib/owlcarousel/owl.carousel.min.js') }}"></script>
        <script src="{{ url_for('static', filename = 'lib/isotope/isotope.pkgd.min.js') }}"></script>
        <script src="{{ url_for('static', filename = 'lib/lightbox/js/lightbox.min.js') }}"></script>

        <!-- Contact Javascript File -->
        <script src="{{ url_for('static', filename = 'mail/jqBootstrapValidation.min.js') }}"></script>
        <script src="{{ url_for('static', filename = 'mail/contact.js') }}"></script>

        <!-- Template Javascript -->
        <script src="{{ url_for('static', filename = 'js/main.js') }}"></script>
    </body>
</html>
